*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-bar{
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar h3{
    margin-left: 25px;
    font-size: 28px;
}
.nav-menu{
    display: flex;
    
    margin-right:70px;

}
.nav-menu a{
    margin-left:25px;
    font-weight: 600;
    font-size:22px;
    text-decoration: none;
    color: black;
}
.nav-menu i{
    font-size:30px;
    margin-left: 25px;
}
